html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #bbb;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

div {
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
textarea {
  outline: none;
  border: none;
  background: inherit;
  font-family: "Nunito Sans", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
